DataCity-Small/iotapp-nr2/.flows.json.backup
[{"id":"7105bd70.74fd24","type":"tab","label":"Flow 1"},{"id":"e6119004.fe69b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"31bbd16f.53f03e","type":"inject","z":"7105bd70.74fd24","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"x":238,"y":173,"wires":[["344c44ed.6e160c"]]},{"id":"344c44ed.6e160c","type":"function","z":"7105bd70.74fd24","name":"","func":"msg.payload=[\n                {\n                    \"name\": \"wind\",\n                    \"type\": \"float\",\n                    \"value\": Math.random()*100\n                }\n            ];\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":180,"wires":[[]]},{"id":"d3ffd993.003868","type":"bar-series","z":"7105bd70.74fd24","selectedDashboard":"testbarseries","createNewClicked":"true","flowName":"Flow 1","authentication":"","username":"usermanager","name":"bars","dashboardTitle":"testbarseries","metricType":"Series","startValue":0,"metricShortDesc":"","metricFullDesc":"","x":390,"y":380,"wires":[[]]},{"id":"6cc114da.f7e89c","type":"inject","z":"7105bd70.74fd24","name":"","topic":"","payload":"[{\"metricId\":\"https://servicemap.disit.org/WebAppGrafo/api/v1/?serviceUri=http://www.disit.org/km4city/resource/tusc_weather_sensor_ow_3166540&format=json\",\"metricHighLevelType\":\"Sensor\",\"metricName\":\"Atusc_weather_sensor_ow_3166540\",\"metricType\":\"airTemperature\"},{\"metricId\":\"https://servicemap.disit.org/WebAppGrafo/api/v1/?serviceUri=http://www.disit.org/km4city/resource/tusc_weather_sensor_ow_3182522&format=json\",\"metricHighLevelType\":\"Sensor\",\"metricName\":\"tusc_weather_sensor_ow_3182522\",\"metricType\":\"airTemperature\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"x":170,"y":400,"wires":[["d3ffd993.003868"]]}]